body {
    font-family: 'Arial', sans-serif;
}

header {
    background: url('img/main.jpg') no-repeat center center/cover;
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: white; /* Ensures text remains readable */
    padding: 100px 20px; /* Adjusts the padding to make the header taller */
    min-height: 450px; /* Ensures a minimum height for the header */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}